/*-------------------------------------
		6. Service
--------------------------------------*/
.service{
  padding: 116px 0 85px;
}
.service-single{
margin-bottom:30px;
}
.service-content-one{
margin-top: 42px;
margin-bottom: 60px;

}

.service-img img{
height: 65px;
margin-top: 30px;
}
/*.service-txt*/
.service-single {
max-width: 304px;
  margin: 0 auto;
   margin-bottom: 15px;
-webkit-transition: .5s; 
-moz-transition:.5s; 
-ms-transition:.5s; 
-o-transition:.5s;
  transition: .5s;
}
.service-txt h2 a{
color:#44454f;	
font-size:24px;
font-family: 'Playfair Display', serif;
padding: 47px 0 25px;
}
.service-txt p {
color:#756c6a;	
font-size:16px;
font-family: 'Poppins', sans-serif;
line-height: 1.67;
}
a.service-btn,
a:active.service-btn,
a:hover.service-btn,
a:focus.service-btn{
color: #7370d8;
  font-size:16px;
font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  margin-top:12px;
  margin-bottom: 15px;
}/*.service-txt*/

.service-single:hover{
box-shadow:0 5px 20px rgba(112,134,230,.2);
opacity: 1;
}