/*-------------------------------------
		12. Client
--------------------------------------*/
.clients {
  background: #7370d8;
  padding: 53px 0 0px;
}
.clients-area {
  padding: 33px 0 59px;
  position: relative;
}
.clients-area .item {
  padding: 0 13px 2px;
}

.clients .clients-area .owl-carousel .owl-item img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0;
}
