/*-------------------------------------
		2. Header
--------------------------------------*/
/* .wrapper {
    position: relative;
    z-index: -1;
} */

.header {
  padding-top: 20px;
  padding-bottom: 12px;
}
.header li a {
  color: #888;
  outline: 0;
}
/* header-left  */
.header-left li {
  display: inline-block;
  margin-right: 50px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.header-left li i {
  margin-right: 7px;
  color: #888;
}
.header-left li :hover {
  color: #7370d8;
} /* header-left  */

/* header-right */
.header-right {
  color: #888;
  font-family: "Poppins", sans-serif;
}
.header-right li {
  display: inline-block;
}
.header-right li a {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 7px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.header-right li a:hover {
  color: #7370d8;
}
.reg a {
  margin-right: 5px;
  margin-left: 5px;
}

/* social-icon */
.social-icon {
  margin-left: 6px;
  top: 0;
  right: 0;
}
.social-icon li a {
  margin-left: 14px;
} /* social-icon */

/* header-right */

/* modal 
--------------------*/
.modal-header {
  border-bottom: none;
}
.modal-title {
  font-size: 30px;
  font-weight: 500;
  color: #eb1b33;
}
.lg-frm button,
.sm-frm button {
  margin-top: 25px;
  background: transparent;
  border-color: #eb1b33;
  color: #eb1b33;
}
