/*-------------------------------------
		7. Statistics
--------------------------------------*/
.statistics {
  position: relative;
  background: url(../../assets/images/counter/counter-banner.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 98px 0 81px;
}
.statistics:before {
  position: absolute;
  content: "";
  background: rgba(115, 112, 216, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/* single-ststistics-box */
.single-ststistics-box {
  display: flex;
  margin-bottom: 30px;
  height: 75px;
}
/* single-ststistics-box */
.statistics-content {
  margin-left: 28px;
}
.statistics-content .counter {
  color: #fff;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
}
.statistics-content h3 {
  color: #fff;
  font-size: 20px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  margin-top: 9px;
  line-height: 1.5;
}
